<nav class="bg-gray-800 p-6">
  <div class="flex items-center justify-between mx-4">
    <a routerLink="/" class="text-2xl flex items-center gap-4 text-slate-200 mb-[0.1rem]"><img src="favicon.ico" alt="logo" class="h-8 w-8">Book Store</a>
    <div class="flex items-center gap-10">
      <a routerLink="/home" class="text-xl text-slate-200 hover:text-blue-400">Home</a>
      <a routerLink="books" class="text-xl text-slate-200 hover:text-blue-400">Books</a>
      <a routerLink="adminpanel" class="text-xl text-slate-200 hover:text-blue-400">Adminpanel</a>
    </div>
  </div>
</nav>
